
h1 {
  font-family: var(--font-family-heading);
}


nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  list-style-type: none;
  gap: var(--spacing-medium);
}

a {
  color: var(--color-text);
  text-decoration: none;
}

a:hover{
  font-weight: bold;
}

header, main, body {
  font-family: var(--font-family-primary);
  background-color: var(--color-background);
  color: var(--color-text);
}

/*
.container h1 {
  font-size: var(--font-size-large);
  margin-bottom: 0;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  padding-bottom: var(--spacing-large);
}

.title {
  grid-column: 1/2;
  place-self: center;
  text-align: left;
}

.image1 {
  grid-column: 2/3;
}

.image2 {
  grid-column: 3/4;
}

.container img {
  width: 80%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1em;
  padding: 2em;
  width: 100%;
  height: auto;
}

.Blog-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.Blog-2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.Blog-3 {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  align-self: stretch;
  max-width: 30em;
  margin-right: 1em;
}

.Blog-4 {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  align-self: stretch;
  max-width: 20em;
  border: 1px solid red; 
  margin-left: 1em; }
*/

footer {
  background-color: var(--color-footer-background);
  color: var(--color-footer-text);
  padding: var(--spacing-small);
  text-align: left;
  min-width: 100%;
  position: relative;
  margin: var(--spacing-large) 0 0 0;
  font-size: var(--font-size-small)
}


.app {
  font-family: var(--font-family-primary);
  text-align: center;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: var(--grid-gap);
  padding: var(--grid-padding);
}

.product-card {
  border: 1px solid var(--product-card-border);
  padding: var(--spacing-small);
  text-align: center;
}

.product-card img {
  width: 100%;
  height: auto;
}

.product-card h3 {
  font-size: var(--font-size-medium);
  margin: var(--spacing-small) 0;
}

.product-card p {
  font-size: var(--font-size-small);
}


/* Product Page Layout */
.product-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--spacing-medium) auto;
  padding: var(--spacing-medium);
}

/* Image Slider */
.product-image-slider {
  display: flex;
  justify-content: center;
  gap: var(--grid-gap);
  width: 100%;
}

.product-image-slider img {
  max-width: 100%;
  min-height: 30em;
  border-radius: 8px; 
  transition: transform 0.3s ease;
}

.product-image-slider img:hover {
  transform: scale(1.05); /* Slight zoom effect on hover */
}

/* Product Description */
.product-description {
  text-align: center;
  margin-top: var(--spacing-medium);
  font-family: var(--font-family-primary);
}

.product-description h4 {
  font-size: var(--font-size-medium);
  margin-bottom: var(--spacing-small);
}

.product-description p {
  font-size: var(--font-size-medium);
  margin-bottom: var(--spacing-small);
  color: var(--color-text);
}

/* Message Seller Button */
.message-seller-button {
  padding: var(--spacing-small) var(--spacing-medium);
  background-color: var(--color-button);
  color: var(--color-button-text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: var(--font-size-small);
  transition: background-color 0.3s ease;
}

.message-seller-button:hover {
  background-color: darkgray;
}

/* Listed By Card */
.listed-by-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--grid-gap);
  margin-top: var(--spacing-medium);
  padding: var(--spacing-small);
  background-color: #f7f7f7;
  border-radius: 8px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.listed-by-card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.listed-by-card p {
  font-size: var(--font-size-small);
  color: #333;
  margin: 0.5em 0;
}

/*Sell Clothes Page*/
.sell-clothes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-medium);
  font-family: var(--font-family-primary);
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  color: var(--color-text);
}

input, textarea {
  width: 100%;
  max-width: 40em;
  padding: var(--spacing-small);
  border: 1px solid #ccc;
  border-radius: 0.5em;
  font-size: var(--font-size-small);
}

textarea {
  resize: vertical;
  height: 10em;
}

.photo-upload, .price-input, .size-input, .brand-input, .description-input {
  margin-bottom:  var(--spacing-medium);
  width: 100%;
  max-width: 20em;
}

button {
  padding: var(--spacing-small) var(--spacing-medium);
  background-color: var(--color-button);
  color: var(--color-button-text);
  border: none;
  border-radius: 0.5em;
  font-size: var(--font-size-medium);
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: darkgray;
}

input[type="file"] {
  border: none;
  background: none;
  padding: 0;
}

input[type="file"]::file-selector-button {
  padding: 0.7em;
  border: none;
  background-color: var(--color-button);
  color: var(--color-button-text);
  border-radius: 0.5em;
  cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
  background-color: darkgray;
}

/*Spinner styles*/
.spinner {
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

.spinner-circle {
  opacity: 0.25;
  stroke: currentColor;
}

.spinner-path {
  opacity: 0.75;
  fill: currentColor;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dark-mode-toggle {
  display: flex;
  justify-content: right;
}

.dark-mode-toggle input {
  width: 4em;
  height: 1em;
  cursor: pointer;
}